# -*- coding: utf-8 -*-

import logging


PORT = 8080

# INIT_HANDLERS: кол-во дочерних потоков, создаваемых сразу при инициализации сервера -
# т.е. размер пула обработчиков соединений (workers). Если выставить 0 - обработчики будут инициализироваться при подключении клиента.
# MAX_HANDLERS: максимальное кол-во возможных обработчиков.
# Если в пуле не будет обработчиков, готовых принять соединение, будут создаваться новые обработчики, пока их кол-во
# не достигнет max_handlers, больше котрого каждое новое входящее соединеие будет сбрасываться до тех пор,
# пока кол-во выполняющихся обработчиков (активных соединений) не станет меньше.
# После завершения соединения поток обработчика уничтожаться не будет, а поступит в пул свободных
# обработчиков, т.о. пул может быть расширен до размера max_handlers.
# При определенных условиях пул может быть очищен, но не меньше размеров init_handlers (теоретически -
# это не реализовывал, но в принципе такое поведение можно предусмотреть).
INIT_HANDLERS = 5
MAX_HANDLERS = 20

DOCUMENT_ROOT = './httptest'

LOGGING = {
    'filename': None,
    'level': logging.DEBUG,
    'format': '%(asctime)s %(levelname).1s %(message)s',
    'datefmt': '%Y.%m.%d %H:%M:%S'
}

DEBUG = True
